<div class="container">
  <div class="content-center">
    <h3 class="title">About Me</h3>
    <!-- <div class="photo-container">
      <img src="assets/img/eva.jpg" alt="Cameron's Headshot" />
    </div> -->
  </div>
</div>

<div class="section">
  <div class="container">
    <h5 class="subtitle">
      Hey! I'm passionate about web and hybrid mobile app development.
    </h5>
    <h5 class="subtitle">
      Technologies I have experience with: HTML, CSS, Javascript and frameworks such as Angular and Ionic. I've also used ColdFusion and MySQL extensively.
    </h5>
  </div>
</div>