<div class="container">
  <div class="content-center">
    <h3 class="title">About Me</h3>
    <div class="photo-container">
      <img src="assets/img/eva.jpg" alt="Cameron's Headshot" />
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h5 class="description">
      Hey! My name is Cameron. I'm currently in Brockville, Ontario, roughly an hour south of Ottawa.
    </h5>
    <h5 class="description">
      I have experience with front-end technologies such as HTML, CSS, Javascript, and frameworks including Angular and Ionic.
      On the back-end, I've used ColdFusion and MySQL the most.
    </h5>
  </div>
</div>