.form-control {
  background-color: rgba(192, 192, 192, 0.3) !important;
}

.input-group-focus .form-control {
  background-color: rgba(192, 192, 192, 0.5) !important;
}

textarea.form-control {
  border-radius: 15px;
}

.form-control::placeholder {
  color: rgb(160, 160, 160) !important;
}