<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://blog.cameronerwin.com" target="_blank">
            Blog
          </a>
        </li>
        <li>
          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md" target="_blank">
            MIT License
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{date | date: 'yyyy'}}, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
  </div>
</footer>