<div class="container">
    <div class="content-center">
        <h3 class="title">Projects</h3>
    </div>
</div>

<div class="section">
    <div class="container">
        <h5 class="subtitle mb-1">
            <a href="https://carplakecove.ca">Carp Lake Cove</a>
        </h5>
        <h5 class="subtitle">
            This was a website development project for an Ottawa-based company
            developing an RV campsite on one of their locations. It consists of
            a consumer-facing website and an adminstrator website to manage booking
            and pricing details.
            <br />
            Technologies used:
            <ul>
                <li>Angular</li>
                <li>MySQL</li>
                <li>Node.js</li>
            </ul>
        </h5>
    </div>
</div>